.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  .card-inline { 
    width: 12rem;
    height:15rem;
    display:inline-block;
    margin: 1rem;
    border: none;
    

 }

 .card-name {
     color: #1b1717;
     font-weight: 200;
 }

 .card-name:hover {
     color: #1b1717;
 }

 .card-image-size {
      width: 9rem; 
      height:9rem;
     }

     .button {
     position: relative;
     padding: .4em 1em;
     border: none;
     background-color: transparent;
     cursor: pointer;
     outline: none;
     font-size: 16px;
     margin: .1em 0.1em;
     outline: white;
     }

     .button:hover {
         background-color: transparent;
         color: #ce1212;
         outline: none;
         border: none;
     }
     .type1 {
       color: #ce1212;
     }
      

       .type1::after,
       .type1::before {
         content: '';
         display: block;
         position: absolute;
         width: 20%;
         height: 20%;
         border: 2px solid;
         transition: all 0.6s ease;
         border-radius: 2px;
         outline: white;
         
       }
       .type1::after {
         bottom: 0;
         right: 0;
         border-top-color: transparent;
         border-left-color: transparent;
         border-bottom-color: #ce1212;
         border-right-color: #ce1212;
         outline: white;
       }
       .type1::before {
         top: 0;
         left: 0;
         border-bottom-color: transparent;
         border-right-color: transparent;
         border-top-color: #ce1212;
         border-left-color: #ce1212;
         outline: white;
       }
       .type1:hover:after,
       .type1:hover:before {
         width: 100%;
         height: 100%;
       }  
    
 /* .card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
}*/

/*.row > div[class*='col-'] {
    display: flex;
    flex:1 0 auto;
  }*/