
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


.App {
  text-align: center;
}

html, body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  padding-top: 30px;
  overflow-x: hidden;
}

